<!doctype html>
<html class="js" lang="{{ request.locale.iso_code }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="theme-color" content="">
    <link rel="canonical" href="{{ canonical_url }}">
    <!-- ====== Google Fonts ====== -->
    <link
      href="https://fonts.googleapis.com/css2?family=Aoboshi+One&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap"
      rel="stylesheet"
    >
    <!-- ====== Flaticon css ====== -->
    {{ 'flaticon_pesco.css' | asset_url | stylesheet_tag }}
    <!-- ====== FontAwesome css ====== -->
    {{ 'all.min.css' | asset_url | stylesheet_tag }}
    <!-- ====== Bootstrap css ====== -->
    {{ 'bootstrap.min.css' | asset_url | stylesheet_tag }}
    <!-- ====== Slick-popup css ====== -->
    {{ 'slick.css' | asset_url | stylesheet_tag }}
    <!-- ====== Nice Select css ====== -->
    {{ 'nice-select.css' | asset_url | stylesheet_tag }}
    <!-- ====== Magnific-popup css ====== -->
    {{ 'magnific-popup.css' | asset_url | stylesheet_tag }}
    <!-- ====== Jquery UI css ====== -->
    {{ 'jquery-ui.min.css' | asset_url | stylesheet_tag }}
    <!-- ====== Animate css ====== -->
    {{ 'aos.css' | asset_url | stylesheet_tag }}
    <!-- ====== Default css ====== -->
    {{ 'default.css' | asset_url | stylesheet_tag }}
    <!-- ====== Style css ====== -->
    {{ 'style.css' | asset_url | stylesheet_tag }}

    {%- if settings.favicon != blank -%}
      <link rel="icon" type="image/png" href="{{ settings.favicon | image_url: width: 32, height: 32 }}">
    {%- endif -%}
    <title>
      {{ page_title }}
      {%- if current_tags %} &ndash; tagged "{{ current_tags | join: ', ' }}"{% endif -%}
      {%- if current_page != 1 %} &ndash; Page {{ current_page }}{% endif -%}
      {%- unless page_title contains shop.name %} &ndash; {{ shop.name }}{% endunless -%}
    </title>
    <!-- ====== Jquery js ====== -->
    <script src="{{ 'jquery-3.6.0.min.js' | asset_url }}" defer="defer"></script>
    <!-- ====== Popper js ====== -->
    <script src="{{ 'popper.min.js' | asset_url }}" defer="defer"></script>
    <!-- ====== Bootstrap js ====== -->
    <script src="{{ 'bootstrap.min.js' | asset_url }}" defer="defer"></script>
    <!-- ====== Slick js ====== -->
    <script src="{{ 'slick.min.js' | asset_url }}" defer="defer"></script>
    <!-- ====== Magnific js ====== -->
    <script src="{{ 'jquery.magnific-popup.min.js' | asset_url }}" defer="defer"></script>
    <!-- ====== Nice-select js ====== -->
    <script src="{{ 'jquery.nice-select.min.js' | asset_url }}" defer="defer"></script>
    <!-- ====== Jquery Ui js ====== -->
    <script src="{{ 'jquery-ui.min.js' | asset_url }}" defer="defer"></script>
    <!-- ====== SimplyCountdown js ====== -->
    <script src="{{ 'simplyCountdown.min.js' | asset_url }}" defer="defer"></script>
    <!-- ====== Aos js ====== -->
    <script src="{{ 'aos.js' | asset_url }}" defer="defer"></script>
    <!-- ====== Main js ====== -->
    <script src="{{ 'theme.js' | asset_url }}" defer="defer"></script>

    {% if page_description %}
      <meta name="description" content="{{ page_description | escape }}">
    {% endif %}

    {% render 'meta-tags' %}

    {{ content_for_header }}
  </head>

  <body>
    {% comment %} {% sections 'header-group' %}  {% endcomment %}
    {% section 'fashivo-sidecart' %}
    {% section 'fashivo-navbar' %}

    <main id="MainContent" class="content-for-layout focus-none" role="main" tabindex="-1">
      {{ content_for_layout }}
    </main>

    {% sections 'footer-group' %}
  </body>
</html>
