<section class="blog-details-section pt-120 pb-60">
  <div class="container">
    <!-- === Blog Details Wrapper === -->
    <div class="blog-details-wrapper">
      <div class="row">
        <div class="col-xl-8">
          <!-- === Blog Details Content === -->
          <div class="blog-details-content">
            <div class="blog-post-item mb-60">
              <div class="post-content">
                <h3 class="title">{{ article.title }}</h3>
                <div class="post-meta">
                  <span
                    ><a href="blog-details.html#"><i class="far fa-user"></i>{{ article.author }}</a></span
                  >
                  <span
                    ><a href="blog-details.html#"
                      ><i class="far fa-calendar-alt"></i>{{ article.published_at | date: '%B %d, %Y' -}}
                    </a></span
                  >
                  <span
                    ><a href="blog-details.html#"><i class="far fa-comment"></i>{{ article.comments_count }}</a></span
                  >
                </div>
                <figure>
                  <img src="{{article.image | image_url: width: 1280, height: 720}}" alt="{{article.title}}">
                </figure>
                <p>
                  {{ article.content }}
                </p>
              </div>
              <div class="entry-footer">
                <div class="tag-links">
                  <span>Tag:</span>
                  {% for tags in article.tags %}
                    <a>{{ tags }}</a>
                  {% endfor %}
                </div>
                <div class="social-share">
                  <span>share:</span>
                  <a href="blog-details.html#"><i class="fab fa-facebook-f"></i></a>
                  <a href="blog-details.html#"><i class="fab fa-instagram"></i></a>
                  <a href="blog-details.html#"><i class="fab fa-linkedin-in"></i></a>
                  <a href="blog-details.html#"><i class="fab fa-twitter"></i></a>
                </div>
              </div>
            </div>
            <!-- === Post Navigation === -->
            <div class="post-navigation mb-80">
              {% if blog.previous_article != blank %}
                <div class="post-nav-item prev-post">
                  <div class="thumb">
                    <img src="{{blog.previous_article.image | image_url: width: 70, height: 70}}" alt="Thumbnail">
                  </div>
                  <div class="content">
                    <a href="{{blog.previous_article.url}}" class="post-link"
                      ><i class="far fa-arrow-left"></i>Prev Post</a
                    >
                    <h6>
                      <a href="{{blog.previous_article.url}}">{{ blog.previous_article.title }}</a>
                    </h6>
                  </div>
                </div>
              {% endif %}
              {% if blog.next_article != blank %}
                <div class="post-nav-item next-post item-rtl">
                  <div class="thumb">
                    <img src="{{blog.next_article.image | image_url: width: 70, height: 70}}" alt="Thumbnail">
                  </div>
                  <div class="content">
                    <a href="{{blog.next_article.url}}" class="post-link"
                      ><i class="far fa-arrow-right"></i>Next Post</a
                    >
                    <h6>
                      <a href="{{blog.next_article.url}}">{{ blog.next_article.title }}</a>
                    </h6>
                  </div>
                </div>
              {% endif %}
            </div>
            <!-- === Reviews Area === -->
            <div class="pesco-comment-area mb-80">
              <h4>Total Reviews (90)</h4>
              <ul>
                <li class="comment">
                  <div class="pesco-reviews-item">
                    <div class="author-thumb-info">
                      <div class="author-thumb">
                        <img src="assets/images/products/review-1.jpg" alt="Auhthor">
                      </div>
                      <div class="author-info">
                        <h5>Amelia Rodriguez</h5>
                        <div class="author-meta">
                          <span>20 March 2024</span>
                        </div>
                      </div>
                    </div>
                    <div class="author-review-content">
                      <p>
                        Men’s Slim Fit Dress Shirt is an excellent choice for those who value modern style and
                        impeccable tailoring. Crafted from a high-quality blend of cotton and polyester, this shirt
                        offers a smooth, wrinkle-resistant finish that stays crisp throughout the day.
                      </p>
                    </div>
                    <a href="blog-details.html#" class="reply"><i class="fas fa-reply-all"></i>Reply</a>
                  </div>
                </li>
                <li class="comment">
                  <div class="pesco-reviews-item">
                    <div class="author-thumb-info">
                      <div class="author-thumb">
                        <img src="assets/images/products/review-2.jpg" alt="Auhthor">
                      </div>
                      <div class="author-info">
                        <h5>Amelia Rodriguez</h5>
                        <div class="author-meta">
                          <span>20 March 2024</span>
                        </div>
                      </div>
                    </div>
                    <div class="author-review-content">
                      <p>
                        Men’s Slim Fit Dress Shirt is an excellent choice for those who value modern style and
                        impeccable tailoring. Crafted from a high-quality blend of cotton and polyester, this shirt
                        offers a smooth, wrinkle-resistant finish that stays crisp throughout the day.
                      </p>
                    </div>
                    <a href="blog-details.html#" class="reply"><i class="fas fa-reply-all"></i>Reply</a>
                  </div>
                  <ul class="comment-reply">
                    <li class="comment">
                      <div class="pesco-reviews-item">
                        <div class="author-thumb-info">
                          <div class="author-thumb">
                            <img src="assets/images/products/review-3.jpg" alt="Auhthor">
                          </div>
                          <div class="author-info">
                            <h5>Amelia Rodriguez</h5>
                            <div class="author-meta">
                              <span>20 March 2024</span>
                            </div>
                          </div>
                        </div>
                        <div class="author-review-content">
                          <p>
                            Men’s Slim Fit Dress Shirt is an excellent choice for those who value modern style and
                            impeccable tailoring. Crafted from a high-quality blend of cotton and polyester, this shirt
                            offers a smooth, wrinkle-resistant finish that stays crisp throughout the day.
                          </p>
                        </div>
                      </div>
                    </li>
                  </ul>
                </li>
              </ul>
            </div>
            <!-- === Contact Form === -->
            <div class="pesco-contact-area mb-50">
              <h4>Write Comment</h4>
              <ul class="ratings rating5 mb-20">
                <li><i class="fas fa-star"></i></li>
                <li><i class="fas fa-star"></i></li>
                <li><i class="fas fa-star"></i></li>
                <li><i class="fas fa-star"></i></li>
                <li><i class="fas fa-star"></i></li>
                <li><a href="blog-details.html#">(10)</a></li>
              </ul>
              <form class="pesco-contact-form">
                <div class="row">
                  <div class="col-lg-6">
                    <div class="form-group">
                      <input type="text" placeholder="Name" class="form_control" name="name" required>
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <div class="form-group">
                      <input type="email" placeholder="Email" class="form_control" name="Email" required>
                    </div>
                  </div>
                  <div class="col-lg-12">
                    <div class="form-group">
                      <textarea
                        class="form_control"
                        placeholder="Write Comment"
                        name="message"
                        cols="5"
                        rows="8"
                      ></textarea>
                    </div>
                  </div>
                  <div class="col-lg-12">
                    <div class="form_group">
                      <button class="theme-btn style-one">Submit Review</button>
                    </div>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
        <div class="col-xl-4">
          <!-- === Sidebar Widget Area === -->
          <div class="sidebar-widget-area mb-50">
            <!-- === Sidebar Widget === -->
            <div class="sidebar-widget sidebar-search-widget mb-50">
              <h4 class="widget-title">Search</h4>
              <div class="widget-content">
                <p>isn't as anything embarrassing hidden in the middle of text.</p>
                <form>
                  <input type="search" class="form_control" placeholder="Search" required>
                </form>
              </div>
            </div>
            <!-- === Sidebar Widget === -->
            <div class="sidebar-widget sidebar-category-widget mb-50">
              <h4 class="widget-title">Categories</h4>
              <div class="widget-content">
                <ul class="widget-nav">
                  {% for blog in blogs %}
                    <li>
                      <a href="{{ blog.url }}">{{ blog.title }}</a>
                    </li>
                  {% endfor %}
                </ul>
              </div>
            </div>

            <!-- === Sidebar Widget === -->
            <div class="sidebar-widget sidebar-category-widget mb-50">
              <h4 class="widget-title">Recent Posts</h4>
              <div class="widget-content">
                <ul class="recent-post-list">
                  {% for recentArticle in blogs[blog.handle].articles %}
                    <li class="post-thumbnail-content">
                      <img
                        src="{{recentArticle.image | image_url: width: 50, height: 50}}"
                        alt="{{recentArticle.title}}"
                      >
                      <div class="post-title-date">
                        <h6>
                          <a href="{{recentArticle.url}}">{{ recentArticle.title }}</a>
                        </h6>
                        <span class="posted-on"
                          ><a href="{{recentArticle.url}}">
                            {{- recentArticle.published_at | date: '%B %d, %Y' -}}
                          </a></span
                        >
                      </div>
                    </li>
                  {% endfor %}
                </ul>
              </div>
            </div>
            <!-- ===  Sidebar Widget  === -->
            <div class="sidebar-widget sidebar-tag-widget mb-50">
              <h4 class="widget-title">Tags</h4>
              <div class="widget-content">
                <div class="tagcloud">
                  {% for tag in article.tags %}
                    <a>{{ tag }}</a>
                  {% endfor %}
                </div>
              </div>
            </div>
            <!-- === Sidebar Widget === -->
            <div class="sidebar-newsletter-widget mb-50">
              <div class="newsletter-content">
                <h5>Our Newsletter</h5>
                <p>Follow our newsletter to stay updated about us.</p>
                <form>
                  <input type="text" class="form_control" placeholder="Enter Email Address" name="name" required>
                  <button class="theme-btn style-one">Subscribe</button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- ====== End Blog Details Section  ====== -->
