{% assign collections = section.settings.product_collection %}
<div class="container">
<div class="row">
  <!-- Loop through banners -->
  {% for banner in section.blocks %}
    {% if banner.settings.columns == '5' %}
      <div class="col-xl-5">
    {% else %}
      <div class="col-xl-7">
    {% endif %}
        <div
          class="banner-item style-two mb-40 bg_cover"
          style="background-image: url({{ banner.settings.banner_image | img_url: 'large' }});"
        >
          <div class="banner-img">
            <img src="{{ banner.settings.banner_image | img_url: 'large' }}" alt="banner image">
          </div>
          <div class="banner-content">
            <span>{{ banner.settings.discount_text }}</span>
            <h4>{{ banner.settings.banner_title }}</h4>
            <div class="separator"></div>
            <a href="{{ banner.settings.link }}" class="theme-btn style-two">Shop Now</a>
          </div>
        </div>
      </div>
  {% endfor %}
</div>
</div>


{% schema %}
  {
    "name": "Fashivo Promo Product",
    "tag": "section",
    "class": "banner-promo-section pt-130",
    "settings": [
      {
        "type": "text",
        "id": "section_subtitle",
        "label": "Section Subtitle",
        "default": "New Collection"
      },
      {
        "type": "text",
        "id": "section_title",
        "label": "Section Title",
        "default": "Shop New Collection"
      },
      {
        "type": "collection_list",
        "id": "product_collection",
        "label": "Product Collection"
      }
    ],
    "blocks": [
      {
        "type": "banner",
        "name": "Banner",
        "settings": [
          {
            "type": "image_picker",
            "id": "banner_image",
            "label": "Banner Image"
          },
          {
            "type": "text",
            "id": "discount_text",
            "label": "Discount Text",
            "default": "Up to 40% Off"
          },
          {
            "type": "text",
            "id": "banner_title",
            "label": "Banner Title",
            "default": "Shop New Collection For Women"
          },
          {
            "type": "url",
            "id": "link",
            "label": "Banner Link",
            "default": "/"
          },
          {
            "type": "select",
            "id": "columns",
            "label": "Number of Columns",
            "options": [
              { "value": "5", "label": "5 Columns" },
              { "value": "7", "label": "7 Columns" }
            ],
            "default": "5"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Fashivo Promo Product"
      }
    ]
  }
  {% endschema %}
  